<!DOCTYPE html>
<html lang="en">
<!-- 外链css -->
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="font/iconfont.css">
<!-- js -->
<script src="js/jquery-3.6.1.js"></script>
<script src="js/header.js"></script>


<header id="header" class="header_animation">
    <div class="header-box">
        <div class="logo-box">
            <a href="header.html"><img src="images/logo.e4cc2c4.svg"></a>
        </div>
        <div class="head-list-box">
            <ul class="head-list">
                <li class="head-item">
                    <a href="#">全部车型<span class="iconfont">&#xe600;</span></a>
                    <ul class="secondlist">
                        <li class="second-item"><a href="dynasty.html" target="_blank">王朝</a></li>
                        <li class="second-item"><a href="ocean.html"  target="_blank">海洋</a></li>
                    </ul>
                </li>
                <li class="head-item">
                    <a href="#">购车服务<span class="iconfont">&#xe600;</span></a>
                    <ul class="secondlist">
                        <li class="second-item"><a href="#">金融服务</a></li>
                        <li class="second-item"><a href="#">购车服务</a></li>
                        <li class="second-item"><a href="#">大客户服务</a></li>
                    </ul>
                </li>
                <li class="head-item">
                    <a href="yuyue.html" target="_blank">预约试驾</a>
                </li>
                <li class="head-item">
                    <a href="#">门店查询<span class="iconfont">&#xe600;</span></a>
                    <ul class="secondlist">
                        <li class="second-item"><a href="#">经销商服务</a></li>
                        <li class="second-item"><a href="#">服务店查询</a></li>
                    </ul>
                </li>
                <li class="head-item">
                    <a href="#">品牌中心<span class="iconfont">&#xe600;</span></a>
                    <ul class="secondlist">
                        <li class="second-item"><a href="#">两个不只</a></li>
                        <li class="second-item"><a href="#">三大领先</a></li>
                        <li class="second-item"><a href="#">链接共建</a></li>
                        <li class="second-item"><a href="#">一路向前</a></li>
                    </ul>
                </li>
                <li class="head-item">
                    <a href="#">集团网站</a>
                </li>
            </ul>
        </div>
        <div class="tool-box">
            <ul class="tool-list">
                <li class="tool-item" id="search-item"><a href="#"><span class="iconfont">&#xeafe;</span>搜索</a>

                </li>
                <li class="tool-item"><a href="login.html" target="_blank"><span class="iconfont" style="color: #f5f5f5;">&#xe60c;</span>登录/注册</a></li>
                <li class="tool-item"><a href="#"><span class="iconfont">&#xe60d;</span></a>
                      <ul class="tool-secondlist">
                        <li class="tool-second-item"><a href="#">金融服务</a></li>
                        <li class="tool-second-item"><a href="huiyuan.html">会员礼遇</a></li>
                        <li class="tool-second-item"><a href="#">汉唐精英萃</a></li>
                        <li class="tool-second-item"><a href="#">我迪朋友们</a></li>
                        <li class="tool-second-item"><a href="#">木兰荟</a></li>
                        <li class="tool-second-item"><a href="#">新闻资讯</a></li>
                        <li class="tool-second-item"><a href="#">品牌互动</a></li>
                    </ul>
                </li>
                <li class="tool-item"><a href="#"><span class="iconfont">&#xe60a;
                </span>选择地区</a>
                    <ul class="tool-secondlist">
                        <span class="area" style="color: #cbc6c6;">选择地区</span>
                        <span class="area">Asia Pacific</span>
                        <li class="tool-second-item"><a href="#" style="color: #cbc6c6;">Korea</a></li>
                        <span class="area">Europe</span>
                        <li class="tool-second-item"><a href="#" style="color: #cbc6c6;">Europe</a></li>
                        <span class="area">Latin America</span>
                        <li class="tool-second-item"><a href="#" style="color: #cbc6c6; ">Ecuador</a></li>
                        <li class="tool-second-item"><a href="#" style="color: #cbc6c6;">Chile</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="search-box">
    <div class="searchDiv">
        <h4>搜索</h4>
       <form method="post">
        <input type="text" placeholder="请输入您想了解的信息" id="shuru"><input type="button" id="search-btn" value="Go!">
       </form>

    </div>
</div>
</header>
<body>

</body>
</html>